			<h4>T&#233;rminos de Uso</h4>
			<br />
			<ol>
				<li>
					<strong><u>INTRODUCCI&#211;N</u></strong>.<br />
					Estos t&#233;rminos y condiciones (&quot;T&#233;rminos&quot;) contienen informaci&#243;n importante acerca de los derechos, obligaciones y restricci&#243;n que se le pueden aplicar a usted como usuario (&quot;Usuario&quot;) cuando accede a cualquiera de los servicios web (&quot;Servicios&quot;) proporcionados bajo el dominio de internet <a target="_blank" href="http://www.welive.eu">http://www.welive.eu</a> (&quot;Sitio Web/Plataforma/Sistema&quot;) o cuando accede, descarga y usa la aplicaci&#243;n WeLive Player y los diferentes servicios p&#250;blicos  (&quot;Aplicaci&#243;n&quot;) y cualquiera de los servicios que se proporcionan a trav&#233;s de ella. Todos los artefactos que forman parte del sistema, es decir: datasets, building blocks y aplicaciones, gestionadas dentro de la soluci&#243;n WeLive son gestionados por la plataforma (&quot;Plataforma&quot;). El WeLive Player act&#250;a como una &quot;tienda&quot; para aquellas aplicaciones desarrolladas dentro de la plataforma WeLive, permitiendo a los Usuarios encontrar qu&#233; aplicaciones est&#225;n disponibles en su entorno haciendo uso de informaci&#243;n p&#250;blica. Adem&#225;s, es posible que desde la aplicaci&#243;n o desde el Sitio Web pueda acceder a otros artefactos (&quot;Artefacto&quot;) como: aplicationes, building blocks y datasets. La plataforma, Sitio Web y la aplicaci&#243;n, salvo que se indique lo contrario, son proporcionados por todos los socios que conforman el consorcio WeLive (&quot;Consorcio&quot;). El proyecto WeLive (<a target="_blank" href="http://www.welive.eu">http://www.welive.eu</a>) ha sido financiado por el programa marco de la Uni&#243;n Europea (H2020) dentro del acuerdo n&#186; 645845.
					<br /><br />
					Estos T&#233;rminos pueden ser accedidos a trav&#233;s de la Aplicaci&#243;n instalada en su dispositivo o en el Sitio Web.
					<br /><br />
					El uso de la Aplicaci&oacute;n, del Sitio Web y de la plataforma WeLive (Artefactos, Servicios y Plataforma) requiere la aceptaci&oacute;n de los t&eacute;rminos expuestos a continuaci&oacute;n, as&iacute; como el de cualquier ley que pueda estar relacionada con el uso de WeLive. El Usuario de la Plataforma puede desempe&ntilde;ar el rol de consumidor de los servicios de WeLive pero tambien el de producto y proveedor de nuevos servicios (Prosumer). Los nuevos servicios creados deben cumplir con la pol&iacute;tical de protecci&oacute;n y acceso a los datos del pa&iacute;s donde se encuentra la plataforma. Los servicios gratuitos y los datos no-privados proporcionados por el Usuario y alojados en la plataforma son autor original pero disponibles p&uacute;blicamente, por defecto, a menos que se especifique lo contrario. Sin embargo, un proveedor de artefactos tiene el derecho a eliminar dichos artefactos publicados previamente, independientemente si &eacute;stos est&aacute;n siendo usados por otros usuarios o no. Cuando un Usuario decide eliminar el Usuario de la plataforma, sus artefactos son anonimizados y permanecer&aacute;n en la plataforma a menos que el Usuario explicitamente indique que desea su eliminaci&oacute;n
					<br /><br />
					Por favor si no est&#225; de acuerdo con estos T&#233;rminos o considera que futuros cambios en los mismos pueden hacer que no sean aceptables para usted, no use WeLive. El uso continuado de WeLive incluyendo, pero no limit&#225;ndose, el Sitio Web, las aplicaciones, la Plataforma, los artefactos y la informaci&#243;n actualizaciones y servicios se considerar&#225; una aceptaci&#243;n de los estos t&#233;rminos y cualquier cambio que se realice en los mismos. Adem&#225;s usted acepta usar WeLive con prop&#243;sitos &#250;nicamente legales, apropiados, acordes a estos T&#233;rminos y a las pol&#237;ticas locales.
					<br /><br />
					Se considerar&#225; aceptaci&#243;n de los T&#233;rminos, la aceptaci&#243;n expresa de los mismos durante el proceso de registro y/o a la hora de instalar la Aplicaci&#243;n, cuando se descarga &#233;sta o una actualizaci&#243;n y cuando se usa la misma en un dispositivo.
					<br /><br />
				</li>
				
				<li>
					<strong><u>POL&#205;TICA DE USO</u></strong>.<br />
					WeLive es una plataforma gratuita que permite su uso de forma no limitada. Usted se compromete a hacer un uso razonable de la misma: Plataforma, Sitio Web, Servicios, Aplicaci&#243;n y cualquier clase de Artefacto. Se considera una violaci&#243;n de los T&#233;rminos la consulta o escritura de datos excesiva de tal forma que el sistema se quede saturado o afectado no pudiendo dar servicio a otros usuarios.
					<br /><br />
					El Sitio Web, Aplicaci&#243;n y Plataforma permite la publicaci&#243;n de informaci&#243;n. El Usuario se hace responsable de toda la informaci&#243;n, opini&#243;n, comentario, etc. que publique en WeLive directamente o a trav&#233;s del Sitio Web, Aplicaci&#243;n y Plataforma. El Usuario se compromete a no publicar, ni fomentar la publicaci&#243;n de:
					<ul>
						<li>
						informaci&#243;n injuriosa, discriminatoria, vejatoria, obscena, etc. o cualquier otra que pueda considerarse ofensiva en t&#233;rminos relativos a raza, religi&#243;n, etnia, sexo;
						</li>
						<li>
						Material que incite a la comisi&#243;n de delitos;
						</li>
						<li>
						material del que no se sea titular y no se disponga de autorizaci&#243;n para publicarlo o que infrinja el copyright, patentes, marcas registradas;
						</li>
						<li>
						publicidad, spam, esquemas piramidales;
						</li>
						<li>
						informaci&#243;n que tenga como objetivo enga&#241;ar a otros;
						</li>
						<li>
						material que explote o permita explotar brechas de seguridad;
						</li>
						<li>
						material que contenga virus, troyanos u otro tipo de c&#243;digo malicioso que afecte al funcionamiento del servicio o a los usuarios;
						</li>
						<li>
						material que acceda o intente acceder a las cuentas de otros usuarios;
						</li>
						<li>
						material que recopile informaci&#243;n de otros usuarios;
						</li>
						<li>
						todo aquello que incumpla la ley local vigente.
						</li>
					</ul>
					<br />
					En algunos casos, puede ser necesario el registro en el Sitio Web y/o en alguna de las aplicaciones desarrolladas y alojadas en la plataforma WeLive para poder usar la aplicaci&#243;n. El Usuario se compromete a proporcionar informaci&#243;n actual y precisa para formalizar el registro y siempre que se le solicite. Esta informaci&#243;n adem&#225;s se deber&#225; mantener actualizada. En caso de existir la sospecha de usar informaci&#243;n falsa o inexacta se podr&#225; suspender la cuenta. En el caso que el Usuario decida eliminar el registro previo, todos sus artefactos permanecer&#225;n an&#243;nimos; es decir, sin ning&#250;n tipo de relaci&#243;n con el Usuario cuyo registro ha sido borrado en la Plataforma.
					<br /><br />
					La plataforma WeLive proporciona una API p&#250;blica con un conjunto de m&#233;todos a trav&#233;s de los cuales se puede modificar el estado de los artefactos dados de alta en el sistema.
					<br /><br />
					&#218;nicamente a los usuarios que se hayan registrado previamente en la plataforma y cuyo perfil exista en el Citizen Data Vault (&quot;CDV&quot;) se les permite ejecutar dichas operaciones.
					<br /><br />
					La violaci&#243;n de la pol&#237;tica de uso supondr&#225; la cancelaci&#243;n inmediata de la cuenta de usuario y el rechazo de la creaci&#243;n futuras cuentas y la de aplicaci&#243;n de los medio para impedir el uso de la Aplicaci&#243;n, Plataforma y/o Sitio Web.
					<br /><br />
					En cualquier momento se pueden modificar los servicios, o suprimir parte de ellos.  Los cambios ser&#225;n notificados de forma razonable. Seguir usando los servicios ser&#225; entendido como una aceptaci&#243;n de los cambios y de los t&#233;rminos y condiciones.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PAGO POR EL SERVICIO</u></strong>.<br />
					El Sitio Web, Aplicaci&#243;n, Plataforma, API p&#250;blica, Servicios y Artefactos proporcionados por WeLive se ofrecen y proporcionan sin ning&#250;n coste durante las dos fases de ejecuci&#243;n del Piloto del proyecto. En otro &#225;mbito, la utilizaci&#243;n de Aplicaciones, Servicios y Artefactos proporcionados por terceras partes puede implicar alg&#250;n tipo de coste. Los pagos requeridos para la utilizaci&#243;n de los servicios proporcionados por terceras partes son cargados de forma directa por el proveedor del servicio y fuera de la Plataforma WeLive y WeLive, en este caso, no es responsable de nuinguna manera de estas transacciones.
					<br /><br />
					En caso de que en un futuro se decidiese cobrar por el uso del servicio o ciertas partes de &#233;l, se comunicar&#237;a de forma razonable, as&#237; como las tarifas, permitiendo a los usuarios que no quieran usar esos servicios de pago mantener los servicios gratuitos o dejar de usar el servicio proporcionado antes de empezar a facturar por el uso.
					<br /><br />
					El uso de la Plataforma, Servicios y Aplicaci&#243;n implica un acceso a red lo que puede suponer costes adicionales para el usuario cuando lo hace tanto desde dispositivos m&#243;viles como desde dispositivos fijos por el uso de tarifas de red o de datos. Estos costes no son en ning&#250;n caso atribuibles a WeLive y ser&#225;n asumidos por el Usuario.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PRIVACIDAD DE LOS DATOS</u></strong>.<br />
					Antes de comenzar a usar el Servicio, los Usuarios deben aprobar el documento de T&#233;rminbos y Condiciones de Uso, que ser&#225; mostrado a los Usuarios la primera vez que lanzan las Aplicaciones y/o se registran en el Sitio Web y Plataforma. Cuando usted se registra en el Sitio Web y/o en alguna de las aplicaciones para su uso, proporciona una serie de datos personales (no sensibles) que espera se gestionen de una forma correcta. El Sitio Web en ning&#250;n caso le solicitar&#225; datos sensibles (para m&#225;s informaci&#243;n acerca de qu&#233; se considera datos sensibles, por favor, revisen el art&#237;culo 8 de la Directiva Europea 95/46/EC - <a href="https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf" target=_blank">https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf</a>). TECNALIA y el resto del consorcio de WeLive tratar&#225; esos datos adecuadamente y siempre de acuerdo a las exigencias de la legislaci&#243;n local vigente o, en su ausencia, la legislaci&#243;n europea para la protecci&#243;n de los datos que tendr&#225; efecto en el a&#241;o 2018. As&#237; mismo el Usuario deber&#225; proteger su cuenta usando los medios que se le proporcionan para ello como son, sin limitarse a ellos, el uso de una contrase&#241;a adecuada, el cambio peri&#243;dico de la misma, o no compartir los datos de la cuenta. TECNALIA y el resto del consorcio de WeLive usar&#225; los datos proporcionados por los Usuarios para gestionar y monitorizar el uso del Sitio Web, Plataforma, Aplicaciones y los artefactos de WeLive. En ning&#250;n momento negociar&#225; con los datos y los mismos ser&#225;n utilizados &#250;nicamente para la gesti&#243;n del uso del Sitio Web.
					<br /><br />
					TECNALIA y el resto del consorcio de WeLive recopilar&#225;n informaci&#243;n personal de los Usuarios, siempre sujeta a autorizaci&#243;n previa por parte del Usuario, durante su uso del Servicio. Estos datos se almacenar&#225;n en el Citizen Data Vaulto (&quot;CDV&quot;), un componente encargado de asegurar y controllar el acceso a los datos previa autorizaci&#243;n. S&#237; se podr&#225; recopilar informaci&#243;n estad&#237;stica an&#243;nima sobre el uso del servicio para tratar de mejorar el mismo y hacer una evaluaci&#243;n del uso de cada uno de los servicios. De hecho, dentro de esta informaci&#243;n anonimizada, creada internamente por los componentes de WeLive, los usuarios son identificados mediante un identificador &#250;nico solamente conocido por el sistema WeLive. Esto permite recuperar informaci&#243;n sobre la ultilizacion de las distintas herramientas y artefactos que forman parte de WeLive y ser&#225; usada para generar m&#233;tricas y visualizaciones de &#233;stas que permitan al proyecto evaluar en tiempo real la acepetacion de la plataforma y de los servicios. En ning&#250;n caso estas m&#233;tricas y visualizaciones revelar&#225;n los Identificadores de los usuarios. Esta informaci&#243;n puede, tambi&#233;n, ser utilizada para el env&#237;o de recomendaciones personalizadas de acuerdo al perfil del usuario. Adem&#225;s, los datos personales (correo electr&#243;nico) ser&#225; unicamente usado para establecer comunicaci&#243;n directa con los Usuarios durante el Piloto. Los datos personales nunca ser&#225;n revelados a terceras partes a menos que el Usuario explicitamente lo consienta. El Sitio Web expl&#237;citamente no recopila datos sensibles sobre los usuarios. Cualquier Aplicaci&#243;n que recopile y/o use datos sensibles no est&#225; autorizada a usar ninguno de los componentes de WeLive para el almacenamiento de dichos datos sensibles. La plataforma WeLive no permite que datos personales sensibles de los usuarios sean almacenados en la misma. Como datos sensibles consideramos aquellos incluidos en el siguiente documento oficial de la UE [European Commission, Advice paper on special categories of data ("sensitive data"), <a href="http://ec.europa.eu/justice/data-protection/article-29/documentation/other-document/files/2011/2011_04_20_letter_artwp_mme_le_bail_directive_9546ec_annex1_en.pdf" target="_blank">http://ec.europa.eu/justice/data-protection/article-29/documentation/other-document/files/2011/2011_04_20_letter_artwp_mme_le_bail_directive_9546ec_annex1_en.pdf</a>]. Los usuarios de cualquier aplicaci&#243;n compatible con el sistema WeLive deben cumplir con esta restricci&#243;n relativa al almacenamiento de datos personales sensibles dentro de WeLive.
					<br /><br />
					Los Usuarios pueden personalizar la Aplicaci&#243;n y las b&#250;squedas mediante el uso de filtros. Estos filtros solo se guardar&#225;n en el dispositivo del usuario y en ning&#250;n momento viajar&#225;n por la red o ser&#225;n recopilados por ning&#250;n motivo.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PROPIEDAD DE LOS DATOS</u></strong>.<br />
					Los datos a los que el usuario accede a trav&eacute;s del Sitio Web, Plataforma, Aplicaci&oacute;n y de cualquier Artefacto provienen de fuentes p&uacute;blicas o sus propietarios los han puesto a disposici&oacute;n del p&uacute;blico para su uso y por tanto mantienen su propiedad y el control de los mismos. En WeLive, es posible el almacenamiento de datos privados donde &uacute;nicamente Usuarios autorizados tendr&aacute;n acceso a los mismos.
					<br /><br />
					El acceso de los datos se ofrece sin ning&uacute;n coste. El desarrollo de trabajos derivados que accedan a estos datos deber&aacute; mantener siempre el acceso a ellos sin coste.
					<br /><br />				
					Se permite a los Usuarios la creaci&oacute;n, actualizaci&oacute;n, modificaci&oacute;n e inclusi&oacute;n de nuevos datos en la Plataforma y/o Aplicaci&oacute;n and se asegura el acceso completo a los mismos. Durante la creaci&oacute;n de los datos, los&nbsp; Usuarios deben especificar si &eacute;stos datos ser&aacute;n de dominio p&uacute;blico (por defecto) o privado. Los datos generados por el usuario, en el caso de que no sean de naturaleza personal y/o privados, pertenecer&aacute;n al Usuario. Los Usuarios, en todo momento, mantendr&aacute;n el control sobre los datos que hayan creados y ser&aacute;n capaces de eliminarlos.
					<br /><br />
					Los datos generados por los usuarios sobre datasets de car&aacute;cter p&uacute;blico son compartidos en la plataforma y el usuario no tendr&aacute; la posibilidad de borrarlos a menos que incluyan datos de car&aacute;cter personal o privado. Cualquier rastro, como por ejemplo los Identificadores de Usuario, que pueda ser usado para vincular a usuarios que quieren desregistrarse de la plataforma a trav&eacute;s de los datos que crearon previamente ser&aacute;n anonimizados vincul&aacute;ndolos a un ID gen&eacute;rico. En cualquier momento, el Usuario dispondr&aacute; de acceso a los datos a traves del &ldquo;CDV&rdquo; desde donde podr&aacute; extraer todos sus datos personales. Del mismo modo, a trav&eacute;s del Open Data Stack (&ldquo;ODS&rdquo;), se permitir&aacute; al usuario a extraer los contenidos de los datos que le pertenecen. Los nuevos datos creados ser&aacute;n de dominio p&uacute;blico al igual que son los datos con los que est&aacute;n trabajando y usando.
					<br /><br />
					En el caso de que tenga la intenci&oacute;n de publicar datos en WeLive que ya se encuentren disponibles en otros sitios web o redes sociales, por favor refi&eacute;rase a la pol&iacute;tica de privacidad de dichos sitios antes de publicar con el fin de asegurarse el derecho a poder hacerlo. Asimismo, en el caso de tener la intenci&oacute;n de publicar datos de WeLive en otros sitios web, por favor, comprueben primero la pol&iacute;tica de privacidad para asegurarse de que los presentes T&eacute;rminos y Condiciones de Uso no son incumplidos. En el cao de republicar datos, es necesario a&ntilde;adir una referencia al origen de los datos.
					<br /><br />
					El consorcio WeLive no pagar&#225; ninguna contraprestaci&#243;n econ&#243;mica por los datos proporcionados. TECNALIA y el resto del consorcio de WeLive se reserva el derecho de revisar los datos aportados y eliminarlos en caso de considerar que no son correctos o que violan el prop&#243;sito del sitio. El componente del sistema denominado &quot;Open Data Stack&quot; proporciona los mecanismos necesarios para identificar aquellos datos que podr&#237;an ser usados de forma incorrecta.
					<br /><br />
					Por defecto, el usuario aporta contenido, es decir, los datos generados mediante el uso de una aplicaci&oacute;n compatible con WeLive, necesidades, ideas o desaf&iacute;os creados a trav&eacute;s del componente OIA y as&iacute; sucesivamente, son de dominio p&uacute;blico bajo la licencia Creative Commons Attribution 4.0, que establece las siguientes condiciones:
					<ul>
						<li>
						Compartir - copiar y redistribuir el material en cualquier medio o formato
						</li>
						<li>
						Adaptar - remezclar, transformar y construir sobre el material para cualquier prop&oacute;sito, incluso comercialmente.
						</li>
						<li>
						Atribuci&oacute;n - Debe dar un cr&eacute;dito apropiado, proporcionar un enlace a la licencia e indicar si se realizaron cambios. Puede hacerlo de cualquier manera razonable, pero no de ninguna manera que sugiera que el licenciante lo respalda o su uso.
						</li>
						
					</ul>					
					Una vez que el proyecto concluya, los datos publicados podr&#237;an tener un coste asociado a su consumo siempre y cuando el creador de estos datos as&#237; determine. Por favor, si desea retener el copyright de sus datos u obtener alguna contraprestaci&#243;n por ellos es preferible que no los publique.
					<br /><br />
				</li>
				
				<li>
					<strong><u>EXACTITUD DE LOS DATOS</u></strong>.<br />
					La informaci&#243;n se proporciona tal cual la proporcionan las fuentes de datos; es decir, los valores/contenidos no son modificados, aunque el formato en el que son exportados podr&#237;a ser modificado para facilitar su explotaci&#243;n posterior. TECNALIA y el resto del consorcio de WeLive no se hace responsable de la exactitud de la misma ni de los da&#241;os y costes directos o indirectos, causados por el uso de esta informaci&#243;n. La Plataforma proporciona herramientas para autom&#225;ticamente evaluar la calidad de los datos y verificar su exactitud.
					<br /><br />
				</li>
				
				<li>
					<strong><u>TERCERAS PARTES</u></strong>.<br />
					Es posible que desde el Sitio Web, Plataforma o desde cada una de las Aplicaciones se pueda acceder a otros sitios y redes sociales, ajenas a TECNALIA y el resto del consorcio de WeLive y gestionados por terceras partes. TECNALIA y el resto del consorcio de WeLive no se hace responsable de las pol&#237;ticas de privacidad de estos sitios y de los posibles costes asociados a su utilizaci&#243;n.
					<br /><br />
					En caso de usar la cuenta de redes sociales para registrarse en el Sitio Web, Plataforma y/o para el uso de la aplicaci&#243;n, TECNALIA y el resto del consorcio de WeLive no recolectar&#225; m&#225;s informaci&#243;n que la estrictamente necesaria para gestionar la cuenta y el acceso a la misma.
					<br /><br />
					La publicaci&#243;n de informaci&#243;n en redes sociales, a trav&#233;s del Sitio Web, Plataforma y/o Aplicaci&#243;n, estar&#225; regulada por la pol&#237;tica de privacidad y los t&#233;rminos y condiciones de uso de dicha red social.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PROPIEDAD</u></strong>.<br />
					El Sitio Web, Plataforma y Aplicaci&oacute;n&nbsp; de WeLive es propiedad del Consorcio. Cualquier otro Artefacto es propiedad de su autor. La explotaci&oacute;n de Artefactos proporcionados por terceras partes, en el caso de que se haya configurado un precio por uso del mismo, ser&aacute; compratido por los autores y la organizaci&oacute;n encargada del alojamiento de la Plataforma.
					<br /><br />
					Se concede al usuario una licencia no exclusiva, revocable para copiar, instalar y usar la aplicaci&#243;n en todos sus dispositivos y para usar el Servicio sin ning&#250;n coste. Esto no otorga al usuario ning&#250;n derecho sobre la propiedad de la Aplicaci&#243;n y Artefactos que seguir&#225;n siendo de los autores.
					<br /><br />
				</li>
				
				<li>
					<strong><u>DISPONIBILIDAD</u></strong>.<br />
					TECNALIA y el resto del consorcio de WeLive no adquieren ning&#250;n compromiso de disponibilidad del Sitio Web, Aplicaci&#243;n, Plataforma y Artefactos y/o de la informaci&#243;n asociada a los mismo. En cualquier caso pondr&#225; todo su esfuerzo para evitar o minimizar los tiempos de interrupci&#243;n y que el tiempo de servicio sea el m&#225;ximo posible. Siempre que sea posible, se notificar&#225;n las paradas programadas del sitio que vayan a afectar de forma rese&#241;able a la disponibilidad del servicio.
					<br /><br />
					TECNALIA y el resto del consorcio de WeLive no se hace responsable de los da&#241;os y los costes directos o indirectos que se puedan causar por la no disponibilidad del sitio.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PROTECCI&#211;N LEGAL Y LIMITACIONES</u></strong>.<br />
					Se concede al usuario una licencia no exclusiva, revocable para copiar, instalar y usar la aplicaci&#243;n en todos sus dispositivos y para usar el Servicio sin ning&#250;n coste.
					<br /><br />
					Usted acepta no usar la aplicaci&#243;n para:
					<ul>
						<li>
						interferir o manipular el Servicio;
						</li>
						<li>
						alterar los datos de forma maliciosa;
						</li>
						<li>
						recopilar datos de los usuarios de la Aplicaci&#243;n;
						</li>
						<li>
						amenazar, molestar, chantajear a otros usuarios;
						</li>
						<li>
						interferir en los servicios de terceras partes;
						</li>
						<li>
						afectar a los copyright de terceras partes.
						</li>
					</ul>
					<br />
					La Aplicaci&#243;n se proporciona &quot;tal cual&quot; y usted la usa bajo su propia responsabilidad. TECNALIA y el resto del consorcio de WeLive se exime de la responsabilidad por errores, mal funcionamiento en su terminal, si afecta a otras aplicaciones, p&#233;rdida de datos, p&#233;rdida de disponibilidad por el uso de la misma.
					<br /><br />
				</li>
				
				<li>
					<strong><u>INTERPRETACI&#211;N</u></strong>.<br />
					El presente documento &quot;T&#233;rminos y Condiciones de Uso&quot; del ecosistema WeLive ha sido escrito en Ingl&#233;s y traducido a los diferentes idiomas oficiales del proyecto pensando en el beneficio del usuario final. El usuario puede acceder a las diferentes versiones seleccionando los diferentes idiomas existentes dentro de la opcion &quot;Lenguaje&quot; del sitio web. En el caso de que exista alguna incoherencia o conflicto entre las diferentes versiones de este documento, la versi&#243;n en ingl&#233;s es la que prevalece con respecto al resto de versiones.
					<br /><br />
				</li>
			</ol>
