<%@page import="com.liferay.portal.kernel.language.LanguageUtil" %>

<%
String pageTerms = LanguageUtil.get(request.getLocale(), "terms.page");
%>
	
	<c:choose>
		<c:when test="<%= (PropsValues.TERMS_OF_USE_JOURNAL_ARTICLE_GROUP_ID > 0) && Validator.isNotNull(PropsValues.TERMS_OF_USE_JOURNAL_ARTICLE_ID) %>">
			<liferay-ui:journal-article articleId="<%= PropsValues.TERMS_OF_USE_JOURNAL_ARTICLE_ID %>" groupId="<%= PropsValues.TERMS_OF_USE_JOURNAL_ARTICLE_GROUP_ID %>" />
		</c:when>
		<c:otherwise>
			<jsp:include page="<%= pageTerms %>" flush="true" />
		</c:otherwise>
	</c:choose>
