			<h4>K&#228;ytt&#246;ehdot</h4>
			<br />
			<ol>
				<li>
					<strong><u>JOHDANTO</u></strong>.<br />
					N&#228;m&#228; k&#228;ytt&#246;ehdot (&quot;Ehdot&quot;) kertovat t&#228;rke&#228;&#228; tietoa oikeuksista, velvollisuuksista ja rajoitteista, jotka voivat koskea sinua k&#228;ytt&#228;j&#228;n&#228; (&quot;K&#228;ytt&#228;j&#228;&quot;) kun k&#228;yt&#228;t mit&#228; tahansa <a target="_blank" href="http://www.welive.eu">http://www.welive.eu</a>-toimialueen (&quot;Verkkosivu&quot;) verkkopalveluista (&quot;Palvelu&quot;) p&#228;&#228;st&#228;ksesi k&#228;siksi, ladataksesi tai k&#228;ytt&#228;&#228;ksesi WeLive Player -sovellusta ja muita julkisen palvelun sovelluksia (&quot;Sovellus&quot;) tai mit&#228; tahansa muita sen tarjoamia palveluita. Kaikki WeLive-palvelun artefaktit eli tietoaineistot, rakennuspalikat (tai koottavat mikropalvelut) ja sovellukset noudattavat sen viitekehyst&#228; (&quot;Viitekehys&quot;). WeLive Player -sovellus toimii markkinapaikkana WeLive-viitekehyksess&#228; kehitetyille sovelluksille, ja sen avulla k&#228;ytt&#228;j&#228;t l&#246;yt&#228;v&#228;t saatavilla olevat julkista dataa hy&#246;dynt&#228;v&#228;t sovellukset. Lis&#228;ksi verkkosivu mahdollistaa p&#228;&#228;syn muihin artefakteihin (&quot;Artefakti&quot;) kuten julkisten palveluiden sovelluksiin, rakennuspalikoihin ja tietoineistoihin. Ellei toisin mainita, Viitekehys, Verkkosivu ja Sovellus ovat kaikkien WeLive-konsortion (&quot;Konsortio&quot;) muodostavien partnerien tarjoamia. WeLive-hanke (<a target="_blank" href="http://www.welive.eu">http://www.welive.eu</a>) on saanut rahoitusta Euroopan unionin H2020-ohjelmasta tutkimukseen, teknologiseen kehitykseen ja demonstraatioon apurahasopimuksen Nro 645845 mukaisesti. Hanke kest&#228;&#228; 36 kuukautta helmikuusta 2015 tammikuuhun 2018.
					<br /><br />
					N&#228;m&#228; k&#228;ytt&#246;ehdot ovat saatavilla laitteeseesi asennetussa sovelluksessa tai verkkosivulla.
					<br /><br />
					Sinun on hyv&auml;ksytt&auml;v&auml; ehdot ja muut soveltuvat lait, jotka koskevat niiden palveluiden k&auml;ytt&ouml;&auml;, jotka WeLive tarjoaa komponenttiensa ja artefaktiensa (Artefakti, Verkkosivu ja Viitekehys) kautta. K&auml;ytt&auml;j&auml; voi olla WeLive-palveluiden kuluttaja, mutta my&ouml;s palveluiden tuottaja. Tuotettujen palveluiden on noudatettava WeLive-infrastruktuuria yll&auml;pit&auml;v&auml;n maan dataa koskevaa lains&auml;&auml;d&auml;nt&ouml;&auml;. K&auml;ytt&auml;j&auml;n tarjoamat ja Viitekehyksess&auml; is&auml;nn&ouml;idyt ilmaiset palvelut ja muut kuin yksityiset tiedot ovat alkuper&auml;isen kirjoittajan omaisuutta, mutta yleisesti saatavilla, ellei muuta nimenomaisesti ole mainittu. Artefaktin tarjoajalla on kuitenkin oikeus poistaa omat julkaistut artefaktinsa riippumatta siit&auml; k&auml;ytt&auml;v&auml;tk&ouml; muut niit&auml; vai eiv&auml;t. Kun k&auml;ytt&auml;j&auml; lakkauttaa tilins&auml; Viitekehyksest&auml;, h&auml;nen artefaktinsa anonymisoidaan ja ne s&auml;ilyv&auml;t Viitekehyksess&auml; ellei k&auml;ytt&auml;j&auml; selv&auml;sti osoita haluavansa ne poistettavan.
					<br /><br />
					Jollet hyv&#228;ksy n&#228;it&#228; ehtoja tai ep&#228;ilet mahdollisten tulevien muutosten tekev&#228;n ne sinulle mahdottomiksi, eth&#228;n k&#228;yt&#228; WeLive&#228;. Jos k&#228;yt&#228;t WeLive&#228;, mukaan lukien Verkkosivua, Sovellusta, Viitekehyst&#228;, rakennuspalikoita, tietoaineistoa, julkisten palveluiden sovelluksia, p&#228;ivityksi&#228; jne., katsomme sinun hyv&#228;ksyv&#228;n n&#228;m&#228; Ehdot ja niihin tekem&#228;mme muutokset. Sitoudut k&#228;ytt&#228;m&#228;&#228;n WeLive&#228; ainoastaan tarkoituksiin, jotka ovat laillisia, asiallisia ja n&#228;iden Ehtojen ja muiden soveltuvien s&#228;&#228;nn&#246;sten mukaisia.
					<br /><br />
					Katsomme sinun hyv&#228;ksyv&#228;n Ehdot, kun selv&#228;sti hyv&#228;ksyt ne rekister&#246;intiprosessin ja/tai Sovelluksen asennusprosessin aikana, kun lataat tai p&#228;ivit&#228;t sen tai kun k&#228;yt&#228;t sit&#228; laitteellasi.
					<br /><br />
				</li>
				
				<li>
					<strong><u>K&#196;YTT&#214;S&#196;&#196;NN&#214;T</u></strong>.<br />
					WeLive on ilmainen avoimen l&#228;hdekoodin viitekehys, joten sen k&#228;ytt&#246;&#228; ei ole rajoitettu. Sitoudut k&#228;ytt&#228;m&#228;&#228;n Verkkosivua, Viitekehyst&#228; ja Sovellusta sek&#228; muita artefakteja j&#228;rkev&#228;sti. J&#228;rjestelm&#228;n ruuhkauttaminen tai sen toimintaan vaikuttaminen lukemalla tai kirjoittamalla dataa niin ett&#228; se vaikuttaa Palvelun muihin k&#228;ytt&#228;jiin on Ehtojen vastaista.
					<br /><br />
					Verkkosivu ja Sovellus antavat sinun julkaista joitakin tietoja. Olet vastuussa tiedoista, mielipiteist&#228;, kommenteista jne. jotka ilmaiset WeLivess&#228; suoraan tai k&#228;ytt&#228;m&#228;ll&#228; Verkkosivua, Sovellusta ja/tai Palvelua. K&#228;ytt&#228;j&#228; sitoutuu olemaan julkaisematta tai olemaan rohkaisematta julkaisemaan:
					<ul>
						<li>
						tietoja, jotka ovat loukkaavia, syrjivi&#228;, n&#246;yryytt&#228;vi&#228;, s&#228;&#228;dytt&#246;mi&#228; jne. tai jotka voivat loukata muita rodun, uskonnon, sukupuolen tai etnisyyden perusteella;
						</li>
						<li>
						mit&#228;&#228;n rikoksen tekoon yllytt&#228;v&#228;&#228; materiaalia;
						</li>
						<li>
						mit&#228;&#228;n materiaalia, joka ei ole sinun, jonka julkaisuun sinulla ei ole lupaa tai joka loukkaa tekij&#228;noikeuksia tai patentteja;
						</li>
						<li>
						mainoksia, roskapostia, pyramidihuijauksia;
						</li>
						<li>
						tietoja muiden k&#228;ytt&#228;jien huijaamiseksi;
						</li>
						<li>
						tietoja turvallisuusaukkojen hy&#246;dynt&#228;misest&#228;;
						</li>
						<li>
						tiedostoja, jotka sis&#228;lt&#228;v&#228;t viruksia, troijalaisia tai muita haittaohjelmia, jotka voivat vaikuttaa Palvelun toimintaan tai muihin K&#228;ytt&#228;jiin;
						</li>
						<li>
						tiedostoja, linkkej&#228; tai muuta materiaalia, joilla pyrit&#228;&#228;n varastamaan toisten k&#228;ytt&#228;jien tileilt&#228;;
						</li>
						<li>
						mit&#228;&#228;n ohjelmistoja, joilla ker&#228;t&#228;&#228;n tietoja muilta k&#228;ytt&#228;jilt&#228;;
						</li>
						<li>
						mit&#228;&#228;n muuta mik&#228; kiert&#228;&#228; tai ei noudata voimassaolevia paikallisia lakeja.
						</li>
					</ul>
					<br />
					Joskus sinun on rekister&#246;idytt&#228;v&#228; Verkkosivulle ja/tai muihin WeLiven kautta kehitettyihin ja yll&#228;pidettyihin sovelluksiin, jotta voit k&#228;ytt&#228;&#228; niit&#228;. K&#228;ytt&#228;j&#228; sitoutuu antamaan oikeat tiedot rekister&#246;intiprosessin aikana ja Palvelun niit&#228; pyyt&#228;ess&#228;. Sinun on p&#228;ivitett&#228;v&#228; tiedot aina kun niihin tulee muutoksia. Mik&#228;li ep&#228;ilemme tietojesi todenmukaisuutta, meill&#228; on oikeus lakkauttaa tilisi. Jos k&#228;ytt&#228;j&#228; lakkauttaa WeLive-tilins&#228;, kaikki h&#228;nen tarjoamansa artefaktit anonymisoidaan eli linkit tilins&#228; lakkauttaneeseen k&#228;ytt&#228;j&#228;&#228;n poistetaan Viitekehyksest&#228;.
					<br /><br />
					WeLive-viitekehys tarjoaa julkisen ohjelmointirajapinnan (&quot;Rajapinta&quot;) menetelmin, jotka mahdollistavat k&#228;ytt&#228;jien statuksen, ideoitten ja artefaktien vaihtamisen alustalla. Vain k&#228;ytt&#228;j&#228;t, jotka ovat rekister&#246;ityneet Viitekehykseen ja joiden profiili on tallennettuna Citizen Data Vault (&quot;CDV&quot;) -komponentissa, voivat k&#228;ytt&#228;&#228; n&#228;it&#228; toimintoja.
					<br /><br />
					Ehtojen rikkominen johtaa k&#228;ytt&#228;j&#228;tilin perumiseen ja uuden tilin luomisen est&#228;miseen ja voimme my&#246;s k&#228;ytt&#228;&#228; joitakin menetelmi&#228; est&#228;&#228;ksemme kielletty&#228; k&#228;ytt&#228;j&#228;&#228; k&#228;ytt&#228;m&#228;st&#228; Sovellusta jatkossa.
					<br /><br />
					Voimme muuttaa Palvelua koska tahansa lis&#228;&#228;m&#228;ll&#228;, muokkaamalla tai poistamalla jotakin. Pyrimme kertomaan muutoksista kohtuullisella tavalla. Jos jatkat Palvelun k&#228;ytt&#246;&#228;, katsomme sinun hyv&#228;ksyv&#228;n muutokset ja Ehdot.
					<br /><br />
				</li>
				
				<li>
					<strong><u>PALVELUSTA MAKSAMINEN</u></strong>.<br />
					Verkkosivu, Viitekehys, Sovellus, Rajapinta, julkiset palvelut ja mik&#228; tahansa muu WeLive-konsortion tarjoama artefakti on ilmainen kaksivaiheisen pilotin aikana. Kolmansien osapuolten tarjoamien julkisten palvelujen, sovellusten, rakennuspalikoiden tai muiden artefaktien k&#228;ytt&#246;&#246;n voi liitty&#228; maksu. Mahdolliset maksut n&#228;ist&#228; kolmannen osapuolen palveluista veloitetaan suoraan palveluntarjoajan toimesta WeLive-viitekehyksen ulkopuolella eik&#228; WeLive vastaa n&#228;ist&#228; maksuista mill&#228;&#228;n tavalla.
					<br /><br />
					Hankkeen loppupuolella m&#228;&#228;ritell&#228;&#228;n artefaktien maksuperiaate. Jos p&#228;&#228;t&#228;mme muuttaa Palvelun tai osan siit&#228; maksulliseksi hankkeen p&#228;&#228;tytty&#228;, kerromme siit&#228; ja hinnoista kohtuullisella tavalla ja kohtuullisessa ajassa, jotta k&#228;ytt&#228;j&#228;t voivat lakata k&#228;ytt&#228;m&#228;st&#228; Palvelua, mik&#228;li eiv&#228;t halua maksaa siit&#228;.
					<br /><br />
					Sovellus voi kaivata yhteytt&#228; tietoliikenneverkkoon toimiakseen oikein. Verkkoyhteys voi tuoda lis&#228;kuluja dataverkon k&#228;ytt&#228;misest&#228;. N&#228;m&#228; kulut eiv&#228;t ole kytk&#246;ksiss&#228; WeLiveen ja K&#228;ytt&#228;j&#228; huolehtii niist&#228; itse.
					<br /><br />
				</li>
				
				<li>
					<strong><u>TIETOSUOJA</u></strong>.<br />
					Ennen Palvelun k&#228;ytt&#228;mist&#228; k&#228;ytt&#228;jien on hyv&#228;ksytt&#228;v&#228; Suostumuslomake, joka tarjotaan heille Sovellusta tai Verkkosivua k&#228;ytett&#228;ess&#228; ensimm&#228;isen kerran. Kun t&#228;yt&#228;t rekister&#246;intilomakkeen Verkkosivulla tai jossakin WeLive-sovelluksessa, annat henkil&#246;tietoja (ei arkaluonteisia) ja odotat meid&#228;n k&#228;sittelev&#228;n niit&#228; huolellisesti. WeLive Palveluun liittyv&#228;t sovellukset tai Verkkosivu eiv&#228;t koskaan pyyd&#228; sinua antamaan arkaluonteisia tietoja (lis&#228;tietoja arkaluonteisiksi luettavista tiedoista l&#246;yd&#228;t directiivin 95/46/EY artiklasta 8 - <a href="https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_FI.pdf" target=_blank">https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_FI.pdf</a>). Konsortio (TECNALIA Research and Innovation ja muut partnerit) k&#228;sittelee niit&#228; sopivalla tavalla ja aina noudattaen kansallisia s&#228;&#228;d&#246;ksi&#228; tai soveltuvin osin tulevaa EU:n tietosuojalakia, joka tulee voimaan vuonna 2018.
					<br /><br />
					Lis&#228;ksi K&#228;ytt&#228;j&#228;n on suojeltava tili&#228;&#228;n k&#228;ytt&#228;m&#228;ll&#228; siihen tarkoitettuja suojauskeinoja, joihin lukeutuvat: Vahvan salasanan luominen; Salasanan vaihtaminen usein; Se, ettei jaa kirjautumistietoja; jne.
					<br /><br />
					Konsortio k&#228;ytt&#228;&#228; K&#228;ytt&#228;jien tarjoamia tietoja Verkkosivun, Sovelluksen, Viitekehyksen ja WeLive-artefaktien hallintaan. Emme myy k&#228;ytt&#228;jien tietoja.
					<br /><br />
					Konsortio ker&#228;&#228; k&#228;ytt&#228;jilt&#228; henkil&#246;tietoja, aina k&#228;ytt&#228;j&#228;n luvalla, palvelun k&#228;ytt&#228;misen aikana. N&#228;it&#228; tietoja s&#228;ilytet&#228;&#228;n CDV-komponentissa, joka varmistaa, ett&#228; ainoastaan hallittu ja aiemmin auktorisoitu p&#228;&#228;sy sallitaan. Ker&#228;tyt yksityiset tiedot anonymisoidaan ja kootaan yhteen, jotta Palvelun k&#228;yt&#246;st&#228; saadaan ker&#228;tty&#228; tilastotietoa. Ainoastaan WeLive-viitekehyksen sis&#228;iset komponentit pystyv&#228;t lukemaan ker&#228;ttyj&#228; lokitietoja, joissa k&#228;ytt&#228;j&#228;t tunnistetaan pelk&#228;st&#228;&#228;n heille luodun yksil&#246;iv&#228;n ID-tunnisteen perusteella, mink&#228; avulla eri vaiheissa ker&#228;ttyj&#228; tietoja pystyt&#228;&#228;n yhdistelem&#228;&#228;n. WeLiven tarjoamien ty&#246;kalujen ja artefaktien k&#228;yt&#246;st&#228; ker&#228;ttyjen tietojen avulla voidaan luoda mittareita ja visualisointeja viitekehyksen ja sen palveluiden hyv&#228;ksynn&#228;n ja k&#228;yt&#246;n mittaamiseksi. Mittareissa tai visualisoinneissa ei n&#228;ytet&#228; k&#228;ytt&#228;jien tunnistetietoja. Ker&#228;ttyj&#228; tietoja k&#228;ytet&#228;&#228;n Viitekehyksen ja Palveluiden parantamiseen tai eri ty&#246;kalujen ja komponenttien k&#228;yt&#246;n arviointiin. Tietoa voidaan my&#246;s hy&#246;dynt&#228;&#228; suositus- ja analysointik&#228;ytt&#246;&#246;n WeLivess&#228;. Lis&#228;ksi henkil&#246;tietoja (s&#228;hk&#246;postiosoitteita) k&#228;ytet&#228;&#228;n k&#228;ytt&#228;jien kanssa kommunikointiin pilottiarvioinnin aikana. Henkil&#246;tietoja ei koskaan luovuteta kolmansille osapuolille ellei k&#228;ytt&#228;j&#228; selv&#228;sti anna siihen lupaansa. Arkaluonteisten henkil&#246;tietojen tallentaminen WeLive-komponentteihin on erityisesti kielletty&#228;. WeLive-viitekehykseen perustuvat sovellukset ja palvelut eiv&#228;t saa k&#228;ytt&#228;&#228; WeLive-komponentteja arkaluonteisten henkil&#246;tietojen tallennukseen. Arkaluonteisten henkil&#246;tietojen m&#228;&#228;ritelm&#228;n&#228; sovellamme EU:n antamia suosituksia aiheesta [European Commission, Advice paper on special categories of data ("sensitive data"), <a href="http://ec.europa.eu/justice/data-protection/article-29/documentation/other-document/files/2011/2011_04_20_letter_artwp_mme_le_bail_directive_9546ec_annex1_en.pdf" target="_blank">http://ec.europa.eu/justice/data-protection/article-29/documentation/other-document/files/2011/2011_04_20_letter_artwp_mme_le_bail_directive_9546ec_annex1_en.pdf</a>]. WeLive-yhteensopivien sovellusten kehitt&#228;jien ja k&#228;ytt&#228;jien tulee sitoutua noudattamaan n&#228;iss&#228; Ehdoissa annettuja rajoitteita arkaluonteisten henkil&#246;tietojen tallentamisessa WeLive-komponentteihin.
					<br /><br />
					K&#228;ytt&#228;j&#228;t voivat kustomoida Sovelluksen k&#228;ytt&#246;&#228; ja hakua erilaisia suodattimia k&#228;ytt&#228;m&#228;ll&#228; (jotka voivat vaatia henkil&#246;tietoja). N&#228;it&#228; ei ker&#228;t&#228; mist&#228;&#228;n syyst&#228;.
					<br /><br />
				</li>
				
				<li>
					<strong><u>DATAN OMISTUSOIKEUS</u></strong>.<br />
					Palvelussa tarjotut tietoaineistot, jotka ovat k&auml;ytett&auml;viss&auml; Verkkosivun, Sovelluksen tai mink&auml; tahansa muun WeLive-ymp&auml;rist&ouml;n osana olevan artefaktin kautta, ovat per&auml;isin julkisesti saatavilla olevista l&auml;hteist&auml; tai niiden omistajat sallivat niiden k&auml;yt&ouml;n yleis&ouml;n keskuudessa ja n&auml;in ollen he s&auml;ilytt&auml;v&auml;t omistajuuden ja hallinnan tietoihin. On kuitenkin mahdollista tallentaa yksityisi&auml; tietoja WeLive-palveluun, jossa vain sille valtuutetuilla k&auml;ytt&auml;jill&auml; on p&auml;&auml;sy niihin.
					<br /><br />
					K&auml;ytt&auml;j&auml;ll&auml; on ilmainen p&auml;&auml;sy dataan.
					<br /><br />
					K&auml;ytt&auml;j&auml;t voivat luoda uusia tietoaineistoja joko Viitekehyksen tai Sovelluksen kautta ja heill&auml; on n&auml;ihin aineistoihin t&auml;ysi k&auml;ytt&ouml;oikeus. Kun k&auml;ytt&auml;j&auml; luo aineiston, h&auml;n m&auml;&auml;rittelee onko aineisto julkisessa vai yksityisess&auml; k&auml;yt&ouml;ss&auml;. K&auml;ytt&auml;j&auml;n tuottama data, joka ei ole yksityist&auml; tai henkil&ouml;kohtaista, kuuluu K&auml;ytt&auml;j&auml;lle. K&auml;ytt&auml;j&auml;t s&auml;ilytt&auml;v&auml;t hallinnan luomiinsa aineistoihin ja voivat halutessaan poistaa ne. Aikaisempiin julkisiin tietoaineistoihin pohjautuvat k&auml;ytt&auml;j&auml;n lis&auml;&auml;m&auml;t tietoaineistot jaetaan Viitekehyksess&auml;, eik&auml; k&auml;ytt&auml;j&auml;ll&auml; ole mahdollisuutta poistaa niit&auml;, elleiv&auml;t ne sis&auml;ll&auml; henkil&ouml;kohtaista tai yksityist&auml; tietoa. Mik&auml;li k&auml;ytt&auml;j&auml;n tili poistetaan Palvelusta, kaikki viittaukset kyseiseen k&auml;ytt&auml;j&auml;&auml;n poistetaan my&ouml;s h&auml;nen toimittamiensa tietoaineistojen l&auml;hdetiedoista. K&auml;ytt&auml;j&auml;ll&auml; on koska tahansa mahdollisuus saada kaikki henkil&ouml;kohtainen tietonsa Viitekehyksen Citizen Data Vault (CDV) -komponentin kautta. K&auml;ytt&auml;j&auml;ll&auml; on my&ouml;s p&auml;&auml;sy kaikkiin omistamiinsa aineistoihin Open Data Stack (ODS) -komponentin kautta.
					<br /><br />
					Jos aiot julkaista Viitekehyksess&#228; muualta saatavissa olevia tietoaineistoja, tarkista ensin niiden alkuper&#228;isist&#228; k&#228;ytt&#246;ehdoista, ett&#228; sinulla on oikeus tehd&#228; niin. Jos aiot julkaista Viitekehyksest&#228; l&#246;ytyvi&#228; tietoaineistoja muilla tavoilla, kuten esimerkiksi yhteis&#246;palveluissa tai kolmansien tahojen verkkosivuilla, perehdy ensin n&#228;iden palveluiden k&#228;ytt&#246;ehtoihin varmistaaksesi, ettet loukkaa WeLive-k&#228;ytt&#246;ehtoja tai kyseisten tietoaineistojen lisenssej&#228;. Muista my&#246;s s&#228;ilytt&#228;&#228; viite alkuper&#228;iseen tietoaineistoon uudelleenjulkaisun yhteydess&#228;.
					<br /><br />
					Konsortio ei maksa palkkioita k&#228;ytt&#228;jien julkaisemasta datasta. Konsortio voi tarkistaa k&#228;ytt&#228;jien julkaiseman datan ja poistaa sen, mik&#228;li se on virheellist&#228; tai ei vastaa palvelun tarkoitusta. Viitekehyksen ODS-komponentti sis&#228;lt&#228;&#228; mekanismeja, joilla voidaan havaita aineistojen v&#228;&#228;rink&#228;ytt&#246;&#228;.
					<br /><br />
					Oletusarvoisesti k&auml;ytt&auml;j&auml;n tuottamat sis&auml;ll&ouml;t, eli &nbsp;data, joka on tuotettu k&auml;ytt&auml;en WeLive-yhteensopivaa sovellusta, tarpeita, ideoita tai haasteita, jotka on luotu OIA-komponentin kautta ja niin edelleen, ovat julkisen verkkotunnuksen alla Creative Commons Attribution 4.0 -k&auml;ytt&ouml;oikeudessa, jossa m&auml;&auml;ritet&auml;&auml;n seuraavat ehdot:
					<ul>
						<li>
						Jaa - kopioi ja jaa aineistoa miss&auml; tahansa v&auml;lineess&auml; tai formaatissa
						</li>
						<li>
						Sovita - muokkaa, muuntele ja luo materiaalin pohjalta uusia aineistoja miss&auml; tahansa tarkoituksessa, jopa kaupallisesti.
						</li>
						<li>
						Attribuutio - Sinun on annettava asianmukainen luotto, tarjoa linkki lisenssiin ja ilmoita, jos muutoksia on tehty. Voit tehd&auml; sen mill&auml; tahansa kohtuullisella tavalla, mutta ei mill&auml;&auml;n tavoin, mik&auml; viittaa siihen, ett&auml; lisenssinantaja tukee sinua tai sinun k&auml;ytt&ouml;&auml;si.
						</li>
						
					</ul>
					<br />					
					My&#246;hemm&#228;ss&#228; vaiheessa WeLive-hanketta, tietoaineistojen toimittajilla voi olla mahdollisuus muuttaa julkaisemiensa tietoaineistojen k&#228;ytt&#246; maksulliseksi.
					<br /><br />
				</li>
				
				<li>
					<strong><u>DATAN TARKKUUS</u></strong>.<br />
					Data toimitetaan tietosis&#228;ll&#246;lt&#228;&#228;n sellaisena, kuin se on alkuper&#228;isiss&#228; tietol&#228;hteiss&#228;, mutta aineiston esitysmuoto voi poiketa alkuper&#228;isest&#228; k&#228;yt&#246;n helpottamiseksi. TECNALIA ja sen WeLive-konsortion partnerit eiv&#228;t ole vastuussa datan tarkkuudesta tai saatavuudesta, eiv&#228;tk&#228; tiedon k&#228;yt&#246;st&#228; johtuvista suorista tai ep&#228;suorista kustannuksista. Viitekehys tarjoaa mahdollisuuksia automaattiseen datan laadun ja oikeellisuuden arviointiin.
					<br /><br />
				</li>
				
				<li>
					<strong><u>KOLMANNET OSAPUOLET</u></strong>.<br />
					K&#228;ytt&#228;j&#228; saattaa toisinaan ohjautua Verkkosivun tai joidenkin Sovellusten kautta Konsortion ulkopuolisten kolmansien osapuolien hallitsemiin palveluihin, esimerkiksi yhteis&#246;palveluihin. TECNALIA ja sen WeLive-konsortion partnerit eiv&#228;t ole vastuussa n&#228;iden palveluiden yksityisyyden suojasta tai mahdollisista k&#228;ytt&#246;kustannuksista.
					<br /><br />
					Mik&#228;li k&#228;yt&#228;t yhteis&#246;palvelun k&#228;ytt&#228;j&#228;tili&#228; tunnistautuaksesi Verkkosivulle tai Sovellukseen, TECNALIA ja sen WeLive-konsortion partnerit eiv&#228;t ker&#228;&#228; muita tietoja kuin ne, joihin K&#228;ytt&#228;j&#228; on nimenomaisesti antanut luvan ja p&#228;&#228;syn.
					<br /><br />
					Mik&#228;li julkaiset tietoa yhteis&#246;palveluissa Sovelluksen tai Verkkosivun kautta, huomioi ett&#228; t&#228;m&#228; tiedon julkaisu tapahtuu kyseisen yhteis&#246;palvelun yksityisyydensuojasopimuksen ja k&#228;ytt&#246;ehtojen alaisesti.
					<br /><br />
				</li>
				
				<li>
					<strong><u>SOVELLUKSEN OMISTUSOIKEUS</u></strong>.<br />
					Verkkosivu, Sovellus, Viitekehys ovat konsortion omaisuutta. Mik&auml; tahansa muu WeLive-artefakti on tekij&ouml;idens&auml; omaisuutta. Kolmannen osapuolen artefaktien tuotto, mik&auml;li hinnoittelumalli on kyseiselle artefaktille m&auml;&auml;ritelty, jaetaan sen tekij&ouml;iden ja Viitekehyksen palveluntarjoajan kesken.
					<br /><br />
					Tekij&#228;t sallivat ei-yksinomaisen ja peruutettavissa olevan lisenssin kopioida, asentaa ja k&#228;ytt&#228;&#228; Sovellusta k&#228;ytt&#228;jien laitteissa ja k&#228;ytt&#228;&#228; Palvelua ilman kustannuksia. T&#228;m&#228; lisenssi ei anna k&#228;ytt&#228;j&#228;lle Sovelluksen omistusoikeutta, vaan se s&#228;ilyy tekij&#246;ill&#228;.
					<br /><br />
				</li>
				
				<li>
					<strong><u>SAATAVUUS</u></strong>.<br />
					TECNALIA ja sen WeLive-konsortion partrerit eiv&#228;t sitoudu huolehtimaan Verkkosivun, Sovellusten tai tiedon saatavuudesta. Edell&#228; mainitut tahot pyrkiv&#228;t v&#228;ltt&#228;m&#228;&#228;n ja minimoimaan Palvelun katkot ja maksimoimaan sen saatavuuden. Palvelun tarjoajat tiedottavat suunnitelluista palvelun katkoksista sopivaksi katsomallaan tavalla ja pyrkiv&#228;t minimoimaan katkosten keston.
					<br /><br />
					TECNALIA ja sen WeLive-konsortion partnerit eiv&#228;t ole vastuussa Palvelun k&#228;ytt&#246;katkoksista aiheutuvista vahingoista eik&#228; suorista tai ep&#228;suorista kustannuksista.
					<br /><br />
				</li>
				
				<li>
					<strong><u>OIKEUSTURVA</u></strong>.<br />
					My&#246;nn&#228;mme k&#228;ytt&#228;j&#228;lle ei-yksinomaisen ja peruutettavissa olevan lisenssin asentaa, kopioida ja k&#228;ytt&#228;&#228; Sovellusta laitteisaan ja k&#228;ytt&#228;&#228; Palvelua ilman kustannuksia.
					<br /><br />
					K&#228;ytt&#228;j&#228; hyv&#228;ksyy, ettei k&#228;yt&#228; Palvelua mihink&#228;&#228;n seuraavista tarkoituksista:
					<ul>
						<li>
						Palvelun h&#228;irint&#228;&#228;n tai v&#228;&#228;rink&#228;ytt&#246;&#246;n;
						</li>
						<li>
						Datan muokkaamiseen pahansuovasti;
						</li>
						<li>
						Tietojen ker&#228;&#228;miseksi palvelun k&#228;ytt&#228;jist&#228;;
						</li>
						<li>
						Muiden k&#228;ytt&#228;jien uhkaamiseen, h&#228;irint&#228;&#228;n tai kirist&#228;miseen;
						</li>
						<li>
						Kolmansien osapuolien palveluiden h&#228;irint&#228;&#228;n;
						</li>
						<li>
						Kolmansien osapuolien tekij&#228;noikeuksien loukkaamiseen.
						</li>
					</ul>
					<br />
					Sovellus tarjotaan k&#228;ytt&#246;&#246;n sellaisenaan ja sen k&#228;ytt&#246; tapahtuu omalla vastuulla. Konsortio ei ole vastuussa Sovelluksen k&#228;yt&#246;st&#228; aiheutuneista virheist&#228;, vikatilanteista p&#228;&#228;telaitteessa, muiden sovellusten k&#228;yt&#246;n h&#228;iri&#246;ist&#228;, eik&#228; datan tai sen k&#228;ytt&#246;mahdollisuuksien menetyksest&#228;.
					<br /><br />
				</li>
				
				<li>
					<strong><u>KIELIVERSIOT</u></strong>.<br />
					N&#228;m&#228; WeLive -k&#228;ytt&#246;ehdot on alunperin kirjoitettu englanniksi ja sen j&#228;lkeen k&#228;&#228;nnetty eri kielille, jotta k&#228;ytt&#228;jien olisi helpompi tutustua niihin. Voit tutustua my&#246;s Ehtojen muihin kieliversioihin vaihtamalla Sovelluksen kieliasetuksia. Mik&#228;li k&#228;&#228;nnetyt (ei enlanninkieliset) k&#228;ytt&#246;ehdot ovat mill&#228;&#228;n tavalla ristiriitaisia vastaavan englanninkielisen version kanssa, englanninkielisess&#228; versiossa m&#228;&#228;riteltyj&#228; ehtoja tulee soveltaa ensisijaisesti.
					<br /><br />
					<br /><br />
				</li>
			</ol>
