html.aui body[class] {
	div#content > nav#breadcrumbs {
		display: none;
		opacity: 0;
	}
		
	div#yui_patched_v3_11_0_1_1513333250613_450.portlet-body {
		margin-top: 0 !important;
	}
	.portlet-body {
		margin-top: 0 !important;
	}
	
	.portlet-body {
		.alert {
		    display: block !important;
		}
		.navigation {
			background: transparent;
		}
	}
}

/*
html.aui body[class] div#content > nav#breadcrumbs {
	display: block !important;
	opacity: 1 !important;
}

html.aui body[class] .portlet-body {
	margin-top: 0 !important;
}

html.aui body[class] .portlet-body .alert {
	display: block !important;
}

html.aui body[class] .portlet-body .navigation {
	background: transparent;
}
*/